@import "/src/assets/styles//global.scss";
.expericnce-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  &_inside {
    border: 1px solid $color-primary;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      @include MontserratRegular;
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 48px;
      color: $color-black;
    }
  }
  span {
    @include MontserratRegular;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
    color: $color-black-4;
  }
}
