@import "/src/assets/styles//global.scss";
.auth-slider {
  margin: 0 auto;
  width: 100%;
  &_inside {
    margin: 0 auto;
    max-width: 850px;
    position: relative;
  }
  &_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    margin-top: 80px;
  }
}
.slider {
  width: 100%;
}
#left-icon {
  background: $color-white;
  padding: 11px;
  border-radius: 50%;
  width: 28px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 16px;
  z-index: 10;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
  }
}
#right-icon {
  background: $color-white;
  padding: 11px;
  border-radius: 50%;
  width: 28px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 16px;
  z-index: 10;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
  }
}
.auth-slider-image {
  width: 100% !important;
  height: 100% !important;
}
.login-image-slider {
  width: 100% !important;
  height: 99vh !important;
}
.reset-image-slider {
  width: 100% !important;
  height: 99vh !important;
}
@media (max-width: 80em) {
  .auth-slider_inside {
    max-width: 750px;
  }
}
@media (max-width: 72em) {
  .auth-slider_inside {
    max-width: 600px;
  }
}
@media (max-width: 64.37em) {
  .auth-slider_inside {
    max-width: 500px;
  }
}
