@import "/src/assets/styles/global.scss";
.similar-properties {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 0 40px;
  margin-bottom: 48px;
  &_text {
    position: relative;
    display: flex;
    align-items: center;

    h1 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      color: $color-black;
      margin: 0 auto;
    }
    &_button {
      position: absolute;
      right: 10px;
    }
  }
  &_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 60px;
  }
  &_pagination {
    margin: 0 auto;
    padding: 0 16px;
    background: $color-white;
    max-width: 750px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-top: 60px;
  }
}

@media (max-width: 74.75em) {
  .similar-properties {
    padding: 0 20px;
    &_list {
      gap: 20px;
    }
  }
}
@media (max-width: 60em) {
  .similar-properties {
    &_list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      margin-top: 40px;
    }
  }
}
@media (max-width: 37.6em) {
  .similar-properties {
    &_list {
      grid-template-columns: 1fr;
    }
  }
  .similar-properties_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
    align-items: flex-start;
    h1 {
      margin: 0;
    }
  }
}

@media (max-width: 40em) {
  .similar-properties_text_button {
    position: relative;
  }
}
