@import "/src/assets/styles/global.scss";
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 11px 16px;
  width: 100%;
  border: 1px solid $color-black-2;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    border: 1px solid $color-primary;
    span {
      color: $color-primary;
    }
  }
  span {
    color: $color-black;
    @include MontserratRegular;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
  }
}
