$color-white: #ffffff;
$color-white-2: #fcfcfc;

$color-primary: #c5202f;

$color-gray: #667085;
$color-gray-2: #787878;
$color-gray-4: #706868;
$color-gray-6: #f3f3f3;
$color-gray-8: #7b7b7b;
$color-gray-10: #757575;
$color-gray-12: #d9d9d9;
$color-gray-14: #eaeaea;
$color-gray-16: #f5f5fd;

$color-gray-18: #f2f4f7;
$color-gray-20: #475467;
$color-gray-22: #1f1d72;
$color-gray-24: #514fa9;
$color-gray-26: #fcfcfd;

$color-primary-blue: #37358f;
$color-blue: #2a2883;
$color-blue-2: #0d6efd;
$color-blue-4: #1570ef;
$color-blue-6: #464ce3;

$color-black: #000000;
$color-black-2: #344054;
$color-black-4: #585858;
$color-black-6: #333333;

$color-orange: #fdc981;

$color-yellow: #f8c34a;

$color-sucess: #28b446;
$color-sucess-2: #027a48;

$color-danger: #fffaeb;
$color-danger-2: #b54708;
$color-danger-4: #fef3f2;
$color-danger-6: #b42318;

$color-logo: -webkit-linear-gradient(#444ce7, #37358f);
