/// typographies here....
@mixin MontserratRegular() {
  font-family: "Montserrat", sans-serif;
}
@mixin LatoRegular() {
  font-family: "Lato", sans-serif;
}
@mixin InterRegular() {
  font-family: "Inter", sans-serif;
}
